{% extends 'defaule/admin/temp/index.ht' %}
{% load staticfiles %}

<!--网站标题-->
{% block main_title %}
   <title>后台管理 | 商品 - 待发布</title>
{% endblock main_title %}

<!--CSS样式-->
{% block main_css %}
    {% include 'defaule/admin/temp/css.ht' %}
    <link rel="stylesheet" href="{% static 'iCheck/flat/blue.css' %}">
{% endblock main_css %}

<!--网站头部导航栏-->
{% block main_header %}
    <a href="" class="logo">
        <span class="logo-mini"><b>管理</b>Admin</span>
        <span class="logo-lg"><b>后台管理</b>Admin</span>
    </a>
    <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Admin</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'admins:complete' %}">全局</a></li>
                <li><a href="{% url 'admins:user' %}">用户</a></li>
                <li class="active"><a href="{% url 'admins:commodity' %}">商品</a></li>
                <li><a href="{% url 'admins:order' %}">订单</a></li>
                <li><a href="{% url 'admins:sector' %}">板块</a></li>
                <li><a href="{% url 'admins:AdmPlate' %}">导航</a></li>
            </ul>
        </div>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src={% static "images/user/user2-160x160.jpg" %} class="user-image" alt="User Image">
                        <span class="hidden-xs">
                        {{username}}
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img src={% static "images/user/user2-160x160.jpg" %} class="img-circle" alt="User Image">
                            <p>
                                Alexander Pierce - Web Developer
                                <small>Member since Nov. 2012</small>
                            </p>
                        </li>
                        <li class="user-body">
                            <div class="row">
                                <div class="col-xs-4 text-center">
                                    <a href="#">Followers</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Sales</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Friends</a>
                                </div>
                            </div>
                        </li>
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a href="#" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
{% endblock main_header %}

<!--网站左侧项目栏-->
{% block main_aside %}
    <div class="user-panel">
        <div class="pull-left image">
            <img src={% static "images/user/user2-160x160.jpg" %} class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
            <p>{{username}}</p>
            {% if username %}
                <a href="#">
                    <i class="fa fa-circle text-success"></i>
                    Online
                </a>
            {% endif %}
        </div>
    </div>
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="你想知道什么...">
            <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </form>
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header"></li>
        <li>
            <a href={% url "admins:commodity" %}>
                <i class="fa fa-clone"></i>
                <span>商品管理</span> <!-- 包含增删查改-->
            </a>
        </li>
        <li class="active">
            <a href={% url "admins:stay" %}>
                <i class="fa fa-hourglass-2"></i>
                <span>待发布</span>
            </a>
        </li>
        <li>
            <a href={% url "admins:import" %}>
                <i class="fa fa-hourglass-2"></i>
                <span>批量导入</span>
            </a>
        </li>
       <li>
            <a href={% url "admins:ClassZycg" %}>
                <i class="fa fa-hourglass-2"></i>
                <span>央采分类</span>
            </a>
        </li>
        <li>
            <a href={% url "admins:Initialization" %}>
                <i class="fa fa-hourglass-2"></i>
                <span>商品诊断</span>
            </a>
        </li>
    </ul>
{% endblock main_aside %}

<!--正文微标题，位置导航-->
{% block main_content_header %}
    <h1>待发布<small>您可以在这里查看未发布的商品</small></h1>
    <ol class="breadcrumb">
        <li><a href="{% url 'admins:commodity' %}">商品</a></li>
        <li><a href="{% url 'admins:stay' %}">待发布</a></li>
        <li class="active">当前位置</li>
    </ol>
{% endblock main_content_header %}

<!--正文开始部分-->
{% block main_content %}

    <div class="row">


        <div class="col-md-12">
            <div class="box box-info col-md-12">
                <div class="box-header with-border">
                    <h3 class="box-title">未发布的商品<small>List</small></h3>
                    <div class="box-body" style="width=100%;">
                        <!-- /.box-header -->
                        <form id="from_del_warelist">
                            {% csrf_token %}
                            <div class="box-body no-padding">
                                <div class="mailbox-controls">
                                    <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                                    </button>
                                    <div class="btn-group">
                                        <button type="" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                                    </div>
                                    <div class="pull-right">
                                        {% if leng >= After %}
                                            {{Front}}-{{After}}/{{leng}}
                                        {% else %}
                                            {{Front}}-{{leng}}/{{leng}}
                                        {% endif %}
                                        <div class="btn-group">
                                            {% if Front < 1 %}
                                                <button type="button" class="btn btn-default btn-sm disabled" disabled="disabled"><i class="fa fa-chevron-left"></i></button>
                                            {% else %}
                                                <a href={% url "admins:stay" Jumpre %} type="button" class="btn btn-default btn-sm "><i class="fa fa-chevron-left"></i></a>
                                            {% endif %}
                                            {% if leng <= After %}
                                                <button type="button" class="btn btn-default btn-sm disabled" disabled="disabled"><i class="fa fa-chevron-right"></i></button>
                                            {% else %}
                                                <a href={% url "admins:stay" Jumpgo %} type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive mailbox-messages" style="height: 500px;">
                                    <table class="table table-hover table-striped">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    选择
                                                </td>
                                                <td class="mailbox-name">商品</td>
                                                <td class="mailbox-subject">金额</td>
                                                <td class="mailbox-attachment">分类</td>
                                                <td class="mailbox-date">时间</td>
                                                <td class="mailbox-date">操作</td>
                                            </tr>
                                            {% for var1 in war %}
                                            <tr>
                                                <td>
                                                    <input name="items" type="checkbox" value="{{var1.id}}">
                                                </td>
                                                <td class="mailbox-name"><a href={% url "admins:release" var1.unix var1.id %} title="">{{var1.name}}</a></td>
                                                <td class="mailbox-subject">{{var1.money}}</td>
                                                <td class="mailbox-attachment">{{var1.province}}|{{var1.city}}|{{var1.region}}</td>
                                                <td class="mailbox-date">{{var1.time_now}}</td>
                                                <td class="mailbox-date">
                                                    <div class="btn-group">
                                                        <div class="btn-group">
                                                            <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
                                                                更多操作&nbsp;<span class="caret"></span>
                                                            </button>
                                                            <ul class="dropdown-menu" role="menu">
                                                                <li><a href="{% url 'admins:ware' var1.id var1.unix %}">编辑商品</a></li>

                                                                <li><a href="{% url 'admins:info' var1.id var1.unix var1.there_id %}">参数修改</a></li>


                                                                <li><a  href="{% url 'admins:online' var1.unix var1.id %}?type=edit&url=stay&there_id={{var1.there_id}}">套餐详情</a></li>
                                                                <li class="divider"></li>
                                                                <li><a data-toggle="modal" onclick="downline('{{var1.id}}');" href="">发布商品</a></li>
                                                                <li><a data-toggle="modal" onclick="delete_ware('{{var1.id}}');" href="">删除商品</a></li>

                                                            </ul>
                                                        </div>
                                                        <div class="btn-group">
                                                            <div class="modal modal-danger fade" id="deletle{{var1.id}}">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                            <h4 class="modal-title">删除操作确认</h4>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <p>您即将删除本商品，删除后不可恢复！</p>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <a href="{% url 'admins:del_ware' var1.id %}" class="btn btn-outline">确认</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                </div>


                                <div class="mailbox-controls">
                                    <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                                    </button>
                                    <div class="btn-group">
                                        <button type="" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                                    </div>

                                    <div class="pull-right">
                                        {% if leng >= After %}
                                            {{Front}}-{{After}}/{{leng}}
                                        {% else %}
                                            {{Front}}-{{leng}}/{{leng}}
                                        {% endif %}
                                        <div class="btn-group">
                                            {% if Front < 1 %}
                                                <button type="button" class="btn btn-default btn-sm disabled" disabled="disabled"><i class="fa fa-chevron-left"></i></button>
                                            {% else %}
                                                <a href={% url "admins:stay" Jumpre %} type="button" class="btn btn-default btn-sm "><i class="fa fa-chevron-left"></i></a>
                                            {% endif %}
                                            {% if leng <= After %}
                                                <button type="button" class="btn btn-default btn-sm disabled" disabled="disabled"><i class="fa fa-chevron-right"></i></button>
                                            {% else %}
                                                <a href={% url "admins:stay" Jumpgo %} type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>





    <!--设置用户等级-->
    <div class="modal fade" id="modal-set_level">
        <form id="form_set_level">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">设置用户等级</h4>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">保存</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock main_content %}

<!--位置底部Footer信息-->
{% block main_footer %}
    {% include 'defaule/admin/temp/footer.ht' %}
{% endblock main_footer %}

<!--网站Script脚本-->
{% block main_script %}

    {% include 'defaule/admin/temp/script.ht' %}
    <script src="{% static 'js/csrf_token.js' %}"></script>
    <script src="{% static 'iCheck/icheck.min.js' %}"></script>
    <script type="text/javascript">

        $('.mailbox-messages input[type="checkbox"]').iCheck({
            checkboxClass: 'icheckbox_flat-blue',
            radioClass: 'iradio_flat-blue'
        });

        $(".checkbox-toggle").click(function () {
            var clicks = $(this).data('clicks');
            if (clicks) {
                //Uncheck all checkboxes
                $(".mailbox-messages input[type='checkbox']").iCheck("uncheck");
                $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
            } else {
                //Check all checkboxes
                $(".mailbox-messages input[type='checkbox']").iCheck("check");
                $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
            }
                $(this).data("clicks", !clicks);
        });

        var csrftoken = getCookie('csrftoken');
        var from_del_warelist = document.getElementById("from_del_warelist")

        function SetEmail(url, data, ids){
            $.ajax({
                url: url,
                type:'POST',
                dataType:'json',
                token: csrftoken,
                data: data,
                success: function(callback){
                    if (callback['code'] == 200) {
                        location.reload();
                    } else{
                        console.log(callback['code']);
                        var html =  '<div class="alert alert-warning alert-dismissible">' +
                                    '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' +
                                    '<h4><i class="icon fa fa-warning"></i>' + callback[callback['state']] + '</h4>' +
                                    '</div> ';
                        document.getElementById('error_'+ids).innerHTML = html;
                    };
                },
                error: function (callback) {
                    console.log(callback);
                    console.log(callback['code']);
                        var html =  '<div class="alert alert-warning alert-dismissible">' +
                                    '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' +
                                    '<h4><i class="icon fa fa-warning"></i> 啊偶，提交内容失败了！</h4>' +
                                    '</div> ';
                        document.getElementById('error_0').innerHTML = html;

                }
            })
        }
        function submitFormDataEmail(){
            var Dat = new FormData(from_del_warelist)
            var student = $("input[name='items']:checked").serialize();


            var url = "{% url 'admins:del_ware' %}"
            var D = {
                "stype": "list",
                "list": student
            }
            SetEmail(url, D, 1);
            console.log('修改邮箱'); //修改邮箱

            console.log(D);
        }

        from_del_warelist.addEventListener("submit", function (event) {
            event.preventDefault();   // 取消按键的原始提交行为
            submitFormDataEmail();         //启动监听提交按钮
        });

        function downline(ids){
            var url = "{% url 'admins:set_online' %}"
            var D = {
                "stype": 'one',
                "id": ids
            }
            SetEmail(url, D, 1);
        }

        function delete_ware(ids){
            var url = "{% url 'admins:del_ware' %}"
            var D = {
                "stype": 'one',
                "list": ids
            }
            SetEmail(url, D, 1);
        }
    </script>
{% endblock main_script %}

