{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>XXXX - 商品搜索 - 领航</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'Ionicons/css/ionicons.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'buttons/css/buttons.css' %}">
    <link href="{% static 't/css/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'dist/css/skins/_all-skins.min.css' %}">
    <link rel="stylesheet" href="{% static 'text1/css/thumbnail-gallery.css' %}">
    <link rel="stylesheet" href="{% static 'text2/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'iCheck/flat/blue.css' %}">
    <link rel="stylesheet" href="{% static 'text3/css/style.css' %}" media="screen" type="text/css" />
    <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">
    <style>
        #hotwords {
            float: left; //width: 384px;
            height: 20px;
            line-height: 20px;
            overflow: hidden;
        }

        #hotwords {
            float: left; //padding-left: 95px;
            //width: 384px;
            height: 20px;
            line-height: 20px;
            overflow: hidden;
        }

        #hotwords.haveline b {
            display: block;
            float: left;
            width: 21px;
            font: 12px/20px "Helvetica Neue", "Hiragino Sans GB", SimSun, serif;
            color: #ccc;
            text-align: center;
        }

        #hotwords b {
            display: none;
        }

        #hotwords a {
            margin-right: 10px;
            float: left;
            white-space: nowrap;
        }

        #hotwords a {
            margin-right: 10px;
            color: #999;
        }

        .fff {
            color: #fff;
        }

        a {
            color: #666;
            text-decoration: none;
        }

        .main {
            border-radius: 20px;
            margin: 0 auto;
            border: 1px solid #000；
        }
    </style>
</head>

<body>
    <header class="main-heade">
        <div class="row">
            <div class="container-fluid h">
                <div class="navbar-header">
                    <a class="navbar-brand fff" href="#">菜鸟教程</a>
                </div>
                <div>
                    <ul class="nav navbar-nav navbar-left">
                        <li class="">
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if username %}
                        <li><a href="" title="" class="fff">您好！ {{username}}</a></li>
                        {% else %}
                        <li><a href="" title="" class="fff">登陆/注册</a></li>
                        {% endif %}
                        <li><a href="" title="" class="fff">|</a></li>
                        <li><a href="{% url 'shop:shopping' %}" title="" class="fff">购物车</a></li>
                        <li><a href="" title="" class="fff">我的订单</a></li>
                        <li>
                            <a href="#" class="dropdown-toggle fff" data-toggle="dropdown">个人中心<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="" title="" class="fff">待处理订单</a></li>
                                <li><a href="" title="" class="fff">返修退换货</a></li>
                                <li><a href="" title="" class="fff">我的消息</a></li>
                                <li><a href="" title="" class="fff">我的关注</a></li>
                            </ul>
                        </li>
                        <li><a href="" title="" class="fff">企业采购</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle fff" data-toggle="dropdown">
                                客户服务<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="" title="" class="fff">帮助中心</a></li>
                                <li><a href="" title="" class="fff">售后服务</a></li>
                                <li><a href="" title="" class="fff">在线客服</a></li>
                                <li><a href="" title="" class="fff">意见建议</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle fff" data-toggle="dropdown">
                                网站导航<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>123</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="container box-body" style="margin-top: 20px;">
                <div class="col-md-5 center-block box-body">
                    <h1>Logo&nbsp;<small>购物车</small></h1>
                </div>
                <div class="col-md-5 pull-right text-center box-body">
                    <form action="{% url 'app:search' %}" method="POST">
                        {% csrf_token %}
                        <div class="input-group input-group-sm">
                            <input name="search" type="text" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-flat" style="background-color: #312b30; color: #fff;">搜索</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br>
    </header>
    <section class="content">
        <div class="container">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">全部商品</h3>
                    </div>
                    <div class="box-body no-padding">

                        <div class="mailbox-controls">
                            <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                            </button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                            </div>
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                            <div class="pull-right">
                                {% if leng >= After %} {{Front}}-{{After}}/{{leng}} {% else %} {{Front}}-{{leng}}/{{leng}} {% endif %}
                                <div class="btn-group">
                                    {% if Front < 1 %}
                                        <button type="button" class="btn btn-default btn-sm disabled" disabled="disabled"><i class="fa fa-chevron-left"></i></button>
                                    {% else %}
                                        <a href={% url "app:applist" 1 %} type="button" class="btn btn-default btn-sm "><i class="fa fa-chevron-left"></i></a>
                                    {% endif %}
                                    {% if leng <= After %}
                                        <button type="button" class="btn btn-default btn-sm disabled" disabled="disabled"><i class="fa fa-chevron-right"></i></button>
                                    {% else %}
                                            <a href={% url "app:applist" 1 %} type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive mailbox-messages">
                            <table class="table table-hover table-striped">
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td class="mailbox-name col-md-7">
                                            <div class="box-body" style="margin-left:20px;">
                                                商品
                                            </div>
                                        </td>
                                        <td class="mailbox-star col-md-1">
                                            <div class="box-body">
                                                单价
                                            </div>
                                        </td>
                                        <td class="mailbox-subject col-md-1">
                                            <div class="box-body">
                                                数量
                                            </div>
                                        </td>
                                        <td class="mailbox-attachment col-md-1">
                                            <div class="box-body">
                                                小计
                                            </div>
                                        </td>
                                        <td class="mailbox-date col-md-2">
                                            <div class="box-body">
                                                功能
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>

<!--
                                <tbody>


                                    {% for var1 in shop %}


                                    <tr>
                                        <td>
                                            <input type="checkbox">
                                        </td>
                                        <td class="mailbox-name col-md-7">
                                            <div class="box-body">
                                                <div class="col-md-3">
                                                    <a href="#">
                                                        <img width="100px" height="100px" src="/media/carousel/2.jpg" alt="13">
                                                    </a>
                                                </div>
                                                <div class="col-md-6">
                                                    <p class="text-muted">{{var1.shop_ware.name}}</p>
                                                    <p class="text-muted">支持上门安装</p>
                                                    <p class="text-muted">支持上门保修</p>
                                                </div>
                                                <div class="col-md-3">
                                                    <p class="text-muted">配置： {{var1.city.name}}</p>
                                                    <p class="text-muted">时间： {{var1.region.name}}</p>
                                                </div>
                                                <div class="col-md-12">
                                                    <p class="text-muted">
                                                        <a href="" class="text-muted">赠品：XXXXXXXXXXXXX</a> &nbsp;...&nbsp;x&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <a href="" class="text-muted">查看价格</a>
                                                    </p>
                                                    <p class="text-muted">
                                                        <a href="" class="text-muted">赠品：XXXXXXXXXXXXX</a> &nbsp;...&nbsp;x&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <a href="" class="text-muted">查看价格</a>
                                                    </p>
                                                    <p class="text-muted">
                                                        <a href="" class="text-muted">赠品：XXXXXXXXXXXXX</a> &nbsp;...&nbsp;x&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <a href="" class="text-muted">查看价格</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="mailbox-star col-md-1">
                                            <div class="box-body">
                                                <strong>{{var1.shop_ware.money}}</strong>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">促销 <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a href="" title="">购买1件可优惠换购热销商品</a>
                                                        </li>
                                                        <li>
                                                            <a href="" title="">满1999元加189元可换购商品</a>
                                                        </li>
                                                        <li>
                                                            <a href="" title="">不使用活动优惠</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="mailbox-subject col-md-1">
                                            <div class="box-body">
                                                <input style="width:50px;" type="number" name="quantity" min="1" value="{{var1.shop_number}}">
                                            </div>
                                        </td>
                                        <td class="mailbox-attachment col-md-1">
                                            <div class="box-body">
                                                <strong>$160.00</strong>
                                                <p>17.5kg</p>
                                            </div>
                                        </td>
                                        <td class="mailbox-date col-md-2">
                                            <div class="box-body">
                                                <p>删除</p>
                                                <p>移动到我的关注</p>
                                                <p>添加到我的关注</p>
                                            </div>
                                        </td>
                                    </tr>

                                    {% endfor %}
                                </tbody>
-->


<div class="cart">
    {% with total_items=cart|length %}
        {% if cart|length > 0 %}
            You cart: {{total_items}} item{{total_items|pluralize}}, ${{cart.get_total_price}}
        {% else %}
            Your cart is empty.
        {% endif %}
    {% endwith %}

</div>


<tbody>
    {% for var1 in shop %}
    <tr>
        <td>
            <input type="checkbox">
        </td>
        <td class="mailbox-name col-md-7">
            <div class="box-body">
                <div class="col-md-3">
                    <a href="#">
                        <img width="100px" height="100px" src="/media/carousel/2.jpg" alt="13">
                    </a>
                </div>
                <div class="col-md-6">
                    <p class="text-muted">{{var1.shop_ware.name}}</p>
                    <p class="text-muted">支持上门安装</p>
                    <p class="text-muted">支持上门保修</p>
                </div>
                <div class="col-md-3">
                    <p class="text-muted">配置： {{var1.city.name}}</p>
                    <p class="text-muted">时间： {{var1.region.name}}</p>
                </div>
                <div class="col-md-12">
                    <p class="text-muted">
                        <a href="" class="text-muted">赠品：XXXXXXXXXXXXX</a> &nbsp;...&nbsp;x&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="" class="text-muted">查看价格</a>
                    </p>
                    <p class="text-muted">
                        <a href="" class="text-muted">赠品：XXXXXXXXXXXXX</a> &nbsp;...&nbsp;x&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="" class="text-muted">查看价格</a>
                    </p>
                    <p class="text-muted">
                        <a href="" class="text-muted">赠品：XXXXXXXXXXXXX</a> &nbsp;...&nbsp;x&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="" class="text-muted">查看价格</a>
                    </p>
                </div>
            </div>
        </td>
        <td class="mailbox-star col-md-1">
            <div class="box-body">
                <strong>{{var1.shop_ware.money}}</strong>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">促销 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="" title="">购买1件可优惠换购热销商品</a>
                        </li>
                        <li>
                            <a href="" title="">满1999元加189元可换购商品</a>
                        </li>
                        <li>
                            <a href="" title="">不使用活动优惠</a>
                        </li>
                    </ul>
                </div>
            </div>
        </td>
        <td class="mailbox-subject col-md-1">
            <div class="box-body">
                <input style="width:50px;" type="number" name="quantity" min="1" value="{{var1.shop_number}}">
            </div>
        </td>
        <td class="mailbox-attachment col-md-1">
            <div class="box-body">
                <strong>$160.00</strong>
                <p>17.5kg</p>
            </div>
        </td>
        <td class="mailbox-date col-md-2">
            <div class="box-body">
                <p>删除</p>
                <p>移动到我的关注</p>
                <p>添加到我的关注</p>
            </div>
        </td>
    </tr>
    {% endfor %}
</tbody>


                            </table>
                        </div>

                        <div class="box-footer no-padding">
                            <div class="mailbox-controls">
                                <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                                </button>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                                </div>
                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                                <div class="pull-right">
                                    {% if leng >= After %} {{Front}}-{{After}}/{{leng}} {% else %} {{Front}}-{{leng}}/{{leng}} {% endif %}
                                    <div class="btn-group">
                                        {% if Front < 1 %}
                                            <button type="button" class="btn btn-default btn-sm disabled" disabled="disabled"><i class="fa fa-chevron-left"></i></button>
                                        {% else %}
                                            <a href={% url "app:applist" 1 %} type="button" class="btn btn-default btn-sm "><i class="fa fa-chevron-left"></i></a>
                                        {% endif %}
                                        {% if leng <= After %}
                                            <button type="button" class="btn btn-default btn-sm disabled" disabled="disabled"><i class="fa fa-chevron-right"></i></button>
                                        {% else %}
                                                <a href={% url "app:applist" 1 %} type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>



    <footer>
        <div class="footer">
            <div class="container">
                <div class="footer-grids">
                    <div class="col-md-3 footer-grid">
                        <h3 class="title">Services</h3>
                        <ul>
                            <li><a href="#">Rerum hic tenetur</a></li>
                            <li><a href="#">Molestiae non recusandae</a></li>
                            <li><a href="#">Voluptates repudiandae</a></li>
                            <li><a href="#">Necessitatibus saepe</a></li>
                            <li><a href="#">Debitis aut rerum</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 footer-grid">
                        <h3 class="title">Information</h3>
                        <ul>
                            <li><a href="#">Quibusdam et aut</a></li>
                            <li><a href="#">Testimonals</a></li>
                            <li><a href="#">Archives</a></li>
                            <li><a href="#">Our Staff</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 footer-grid">
                        <h3 class="title">More details</h3>
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Sitemap</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 footer-grid contact-grid">
                        <h3 class="title">Contact us</h3>
                        <ul>
                            <li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>Newyork Still Road.</li>
                            <li class="adrs">756 gt globel Place</li>
                            <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>+000 100 444 1111</li>
                            <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:example@mail.com">mail@example.com</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <div class="copy">
            <div class="container">
                <div class="copy-left">
                    <p>Copyright © 2018 <a href="http://www.lhwill.com/" target="_blank" title="lhwill">lhwill</a> All rights reserved.</p>
                </div>
                <div class="copy-left-right">
                    <ul>
                        <li><a href="#" class="facebook"></a></li>
                        <li><a href="#" class="twitter"></a></li>
                        <li><a href="#" class="be"></a></li>
                        <li><a href="#" class="p"></a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </footer>


    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'fastclick/lib/fastclick.js' %}"></script>
    <script src="{% static 'iCheck/icheck.min.js' %}"></script>
    <script src="{% static 'dist/js/adminlte.min.js' %}"></script>
    <script src="{% static 'select2/dist/js/select2.full.min.js' %}"></script>
    <script>
    $(function() {

        $('.mailbox-messages input[type="checkbox"]').iCheck({
            checkboxClass: 'icheckbox_flat-blue',
            radioClass: 'iradio_flat-blue'
        });

        $(".checkbox-toggle").click(function() {
            var clicks = $(this).data('clicks');
            if (clicks) {

                $(".mailbox-messages input[type='checkbox']").iCheck("uncheck");
                $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
            } else {

                $(".mailbox-messages input[type='checkbox']").iCheck("check");
                $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
            }
            $(this).data("clicks", !clicks);
        });

        $(".mailbox-star").click(function(e) {
            e.preventDefault();
            var $this = $(this).find("a > i");
            var glyph = $this.hasClass("glyphicon");
            var fa = $this.hasClass("fa");

            if (glyph) {
                $this.toggleClass("glyphicon-star");
                $this.toggleClass("glyphicon-star-empty");
            }

            if (fa) {
                $this.toggleClass("fa-star");
                $this.toggleClass("fa-star-o");
            }
        });
    });
    </script>
</body>

</html>