{% load staticfiles %}
{% load tags %}
<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8" />
    <!--360浏览器极速模式-->
    <meta name="renderer" content="webkit" />
    <meta name="force-rendering" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href='//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.css'>
    <link rel="stylesheet" href='//cdn.bootcss.com/admin-lte/2.4.3/css/AdminLTE.min.css'>
    <link rel="stylesheet" href='//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css'>
    <link href="https://cdn.bootcss.com/toastr.js/latest/css/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'Ionicons/css/ionicons.min.css' %}">
    <!--link rel="stylesheet" href="{% static 'css/main.css' %}"-->
    <link rel="stylesheet" type="text/css" href={% static "css/stype.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "iCheck/square/blue.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/crat.css" %}>
    <!--[if lt IE 9]>
    　 <script src="https://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
       <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
    <script>
    /*@cc_on window.location.href="http://support.dmeng.net/upgrade-your-browser.html?referrer="+encodeURIComponent(window.location.href); @*/
    </script>
</head>

<body class="hold-transition skin-blue layout-top-nav" scroll="no">
    <div class="wrapper">
        <div class="navs-top">
            <div class="nav-top">
                <ul class="pull-left">
                    <li><a href={% url "app:index" %}>首页</a></li>
                </ul>
                <ul class="pull-right">
                    {% if user %}
                    <li><a href={% url "home:index" %}>您好，{{user.username}}</a></li>
                    <li><a href={% url "auth:logout" %}>退出</a></li>
                    <li><span class="sep">|</span></li>
                    <li><a href={% url "home:index" %}>我的订单</a></li>
                    {% else %}
                    <li><a href={% url "auth:oauth2:login_zycg" %}>央采登录</a></li>
                    <li><a href={% url "auth:login" %}>您好，请登录</a></li>
                    <li><a href={% url "auth:register" %}>免费注册</a></li>
                    {% endif %} {% if user.is_staff %}
                    <li><span class="sep">|</span></li>
                    <li><a href={% url "admins:index" %}>管理后台</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="content-wrapper">
            <div class="row white">
                <div class="nav-top nav-main ">
                    <div class="col-xs-3">
                        <div class="logo-left">
                            <a href="" target="_blank">
                                <img style="width: 200px; height: 100px;" src="/static/images/logo/logo-left-1600x800.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <form action="{% url 'app:search' %}" method="GET">
                            <div class="input-group">
                                <input name="search" type="text" class="form-control" style="border-radius: 0px;">
                                <span class="input-group-btn">
                                        <button type="" class="btn btn-info btn-flat">搜索</button>
                                    </span>
                            </div>
                        </form>
                        <div id="hotwords" class="haveline" style="margin-top: 2px;display: none;">
                            {% for var1 in statistics %}
                            <a>{{var1.name}}</a> {% endfor %}
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="cart">
                            <a href="{% url 'shop:shopping' %}" class="btn btn-block btn-default btn-cart" style="border-radius: 0px;">购物车<i class="btn-cart-count shopping">{{cart.number}}</i></a>
                            <div class="box box-body  box-cart box-cart-dis">
                                <div class="col-md-12">
                                    <P>最新加入的商品</P>
                                </div>
                                <div id="CartList" class="col-md-12">
                                    <div class="pull-left box-left-1">
                                        <div class="pull-left">
                                            <span class="box-icon"><i class="ion ion-ios-cart-outline"></i></span>
                                        </div>
                                        <div class="box-cart-text">
                                            <p>购物车中还没有商品，赶紧选购吧！</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-top: 10px;">
                                    <a href="{% url 'shop:shopping' %}" class="btn btn-info btn-sm btn-flat col-md-12">查看繁多</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navs">
                <div class="nav-tag">
                    <ul>
                        <li><a href="{% url 'app:index' %}">首页</a></li>
                        <li><span class="sep">></span></li>
                        <li><a href="{% url 'app:about' %}">关于领航</a></li>
                        <li><span class="sep">></span></li>
                        <li><a href="{% url 'app:us' %}">联系我们</a></li>
                    </ul>
                </div>
                <div class="nav-top">
                    <ul>
                        <li><a href="{% url 'app:about' %}">公司简介</a><span class="sep">|</span></li>
                        <li><a href="">加入领航</a><span class="sep">|</span></li>
                        <li class="last cur"><a href="{% url 'app:us' %}">联系我们</a></li>
                    </ul>
                </div>
            </div>
            <div class="content contact index" style="margin-top: 55px;">
                <div class="contact_header section-title">
                    <img alt="" src="//s1.mi.com/m/images/20180410/WechatIMG20.jpeg">
                    <div class="text">
                        <h1>联系方式</h1>
                        <h2>领航未来办公设备有限公司</h2>
                        <ul class="list">
                            <li>
                                地址： 北京市昌平区沙河高教园南三街一号（客服中心）
                                <br>
                                <span style="margin-left: 45px;">北京市昌平区沙河青年创业大厦B505(技术中心)</span>
                            </li>
                            <li>邮编： 102206</li>
                            <li>传真： 010-80734326</li>
                        </ul>
                    </div>
                </div>
                <div class="contact_content section-title">
                    <img alt="" src="{% static '/images/map.jpg' %}">
                    <div class="boxc clearfix ">
                        <h3>客服服务</h3>
                        <dl class="item">
                            <dt>客服咨询</dt>
                            <dd>
                                <ul class="list">
                                    <li><span>联系人：</span>黄女士</li>
                                    <li><span>联系电话：</span>01080734326 / 01069735822 / 4001815535</li>
                                    <li><span>在线客服：</span>开始咨询</li>
                                    <li><span>Email：</span>huangyan@lhwill.com</li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                    <div class="boxc clearfix ">
                        <h3>售后服务</h3>
                        <dl class="item">
                            <dt>机器维修 / 配件服务</dt>
                            <dd>
                                <ul class="list">
                                    <li><span>联系人：</span>徐鹏</li>
                                    <li><span>联系电话：</span>15010152522</li>
                                    <li><span>Email：</span>xupeng@lhwill.com</li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                    <div class="boxc clearfix ">
                        <h3>商务合作</h3>
                        <dl class="item">
                            <dt>商务咨询</dt>
                            <dd>
                                <ul class="list">
                                    <li><span>联系人：</span>代先生</li>
                                    <li><span>联系电话：</span>13301281342</li>
                                    <li><span>Email：</span>dsz@lhwill.com</li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                    <div class="boxc clearfix last">
                        <h3>廉洁领航</h3>
                        <dl class="item">
                            <dt>只接受“廉政方面”的举报</dt>
                            <dd>
                                <ul class="list">
                                    <li><span>联系人：</span>代先生</li>
                                    <li><span>投诉电话：</span>13301281342</li>
                                    <li><span>Email：</span>dsz@lhwill.com</li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <footer class="main-footer" id="gtco-footer" role="contentinfo" style="border-top: unset;">
            <div class="container">
                <div class="row" style="margin-top: 35px;">
                    <div class="col-xs-2">
                        <ul class="gtco-footer-links">
                            <li>
                                <h5>支付方式</h5></li>
                            <li><small><a href="#">货到付款</a></small></li>
                            <li><small><a href="#">在线支付</a></small></li>
                            <li><small><a href="#">邮局汇款</a></small></li>
                            <li><small><a href="#">公司转账</a></small></li>
                        </ul>
                    </div>
                    <div class="col-xs-2">
                        <ul class="gtco-footer-links">
                            <li>
                                <h5>配送方式</h5></li>
                            <li><small><a href="#">上门自提</a></small></li>
                            <li><small><a href="#">配送费收取标准</a></small></li>
                        </ul>
                    </div>
                    <div class="col-xs-2">
                        <ul class="gtco-footer-links">
                            <li>
                                <h5>售后服务</h5></li>
                            <li><small><a href="#">售后政策</a></small></li>
                            <li><small><a href="#">退款说明</a></small></li>
                            <li><small><a href="#">返修/退换货</a></small></li>
                        </ul>
                    </div>
                    <div class="col-xs-2">
                        <ul class="gtco-footer-links">
                            <li>
                                <h5>关于我们</h5></li>
                            <li><small><a href="{% url 'app:about' %}">关于领航</a></small></li>
                        </ul>
                    </div>
                    <div class="col-xs-4 gtco-widget xfoot">
                        <p style="color: #3C8DBC;font-weight: bold;font-size:24px; margin-top: 0px;">010-80734326 | 400-1815535</p>
                        <p style="color:#757575;">周一至周日 8:00-18:00</p>
                        <p>
                            <a class="callphone" href="http://p.qiao.baidu.com/cps/chat?siteId=12265760&userId=25894749" style="padding: 6.5px 30px;border:1px solid #00C0EF;text-decoration: none;">联系客服</a>
                        </p>
                    </div>
                </div>
                <div class="row copyright">
                    <div class="col-xs-12">
                        <p style="border: 1px solid #f5f5f5;"></p>
                        <p class="text-center">
                            <small class="block">
                                {% block site_icp %}
                                {% endblock site_icp %}
                                &nbsp;|&nbsp;
                                经营许可证：京B2-20171428
                            </small>
                            <small class="block">
                                <strong>Copyright © 2018 - 2019
                                <a href="http://www.lhwill.com">lhwill.com</a>
                                </strong> 版权所有&nbsp;|&nbsp;
                                <a href="{% static 'images/yyzz.jpg' %}">经营证照</a>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="//cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/admin-lte/2.4.3/js/adminlte.js" %}></script>
    <script src="https://cdn.bootcss.com/toastr.js/latest/js/toastr.min.js"></script>
    <script src="{% static 'js/csrf_token.js' %}"></script>
    <script src="{% static 'iCheck/icheck.min.js' %}"></script>
    <script src="{% static '/js/cart.js' %}"></script>
</body>

</html>