{% extends 'defaule/temp/top-nav.ht' %}
{% load staticfiles %}
{% load tags %}

{% block title %}
    {% if site_name %}
        {% if site_tags %}
            <title>{{site_name}} - {{site_tags}}</title>
        {% else %}
            <title>{{site_name}}</title>
        {% endif %}
    {% else %}
        {% if site_tags %}
            <title>{{site_tags}}</title>
        {% else %}
            <title>你好粗心，怎么没有设置标题呢？</title>
        {% endif %}
    {% endif %}
{% endblock title %}

<!-- SEO优化 -->
{% block seo %}
{% endblock seo %}

<!-- CSS样式 -->

{% block css %}
    {% include 'defaule/temp/css.ht' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/htmleaf-demo.css' %}">
    <link rel="stylesheet" href="{% static 'iCheck/square/blue.css' %}">
    <link href="{% static '/css/animate.min.css' %}"></link>

    <style>
        #logos {
            z-index: 30;
            left: 0;
            width: 211px;
            height: 170px;
            margin-top: -46px;
        }

        .wrapper>.content-wrapper {
            background-color: #fff;
        }

        .item-li {
            float: left;
            min-height: 65px;
            height: 100%;
        }

        .cart-checkbox {
            position: relative;
            display: inline-block;
            overflow: hidden;
            margin-left: 20px;
            margin-top: 20px;
        }

        .td-item {
            //min-height: 119px;
            _height: 119px;
            overflow: hidden;
            _overflow: visible;
            _zoom: 1;
        }

        .td-inner {
            padding-top: 20px;
            _zoom: 1;
        }

        .item-info {
            margin: -3px 0 0 91px;
            padding-right: 25px;
        }

        .item-pic {
            width: 80px;
            height: 80px;
            border: 1px solid #eee;
            float: left;
            overflow: hidden;
            background: #fff url(//gtd.alicdn.com/tps/i3/T1b1m3XkVpXXXXXXXX-32-32.gif) no-repeat 50% 50%;
        }

        .item-logos {
            _clear: left;
            zoom: 1;
            overflow: hidden;
            min-height: 26px;
        }

        .item-basic-info {
            min-height: 40px;
            float: left;
        }

        .item-title {
            color: #000;
            font-size: 12px;
            display: block;
            max-height: 36px;
            overflow: hidden;
            text-overflow: ellipsis;
            _height: expression(this.scrollHeight > 36 ? "36px": "auto");
        }

        .sku {
            margin: 0 5px 0 15px;
            color: #9c9c9c;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .btn-edit-sku {
            display: block;
            position: absolute;
            right: -1px;
            top: -1px;
            color: #fff;
            cursor: pointer;
            background: #f60;
            padding: 2px 4px 0;
            height: 16px;
            line-height: 1;
        }

        .item-props-can-hover {
            border-color: #f60;
            background: #fff;
        }

        .item-props {
            padding: 16px 0;
            min-height: 84px;
            _height: 84px;
            border: 1px dashed transparent;
            position: relative;
            _border-color: #EEF6FF;
            height: 128px;
        }

        .item-amount {
            height: 25px;
            position: relative;
            z-index: 1;
        }

        .item-amount .no-left {
            border-right-color: transparent;
            left: 9px;
        }

        .item-amount .no-right {
            border-right-color: transparent;
            right: -9px;
        }

        .item-amount a {
            display: block;
            height: 23px;
            width: 17px;
            border: 1px solid #e5e5e5;
            background: #f0f0f0;
            text-align: center;
            line-height: 23px;
            color: #444;
            position: absolute;
            top: 0;
        }

        .td-sum {
            color: #ca141d;
            font-weight: 700;
            margin-bottom: 0;
        }

        .td-sumdis {
            color: #a9a9a9;
            font-weight: 700;
            margin-bottom: 0;
            margin-top: -16px;
            text-align: center;
            text-decoration: line-through;
        }

        .text-left {
            margin-left: 30px;
        }

        .showlist {
            border: 1px solid #ccc;
            height: 130px;
            background: #fcfcfc;
            margin-bottom: 15px;
        }



        .fixed-bottom {
            bottom: -1px;
            z-index: 9999;
        }



        @media screen and (min-width: 1200px) {
            .float-bar-wrapper {
                width: 1140px;
                height: 50px;
                overflow: hidden;
                background: #e5e5e5;
            }

            .box-wareapp {
                margin-top: 50px;
                margin-left: 350px;
            }
        }

        @media screen and (min-width: 922px) and (max-width: 1200px) {
            .float-bar-wrapper {
                width: 940px;
                height: 50px;
                overflow: hidden;
                background: #e5e5e5;
            }
            .box-wareapp {
                margin-top: 50px;
                margin-left: 300px;
            }
        }

        @media screen and (min-width: 768px) and (max-width: 922px) {
            .float-bar-wrapper {
                width: 720px;
                height: 50px;
                overflow: hidden;
                background: #e5e5e5;
            }
            .box-wareapp {
                margin-top: 50px;
                margin-left: 200px;
            }
        }


        .select-all {
            float: left;
            line-height: 50px;
            height: 50px;

            margin-left: 20px;
        }


        .operations {
            float: left;
            line-height: 50px;
            height: 50px;
        }

        .oper-text {
            margin-left: 30px;
        }

        .float-bar-right {
            float: right;
            /* position: absolute; */
            right: 0;
            top: 0;
            z-index: 4;
            padding-left: 20px;
        }

        .amount-sum {
            cursor: pointer;
            float: left;
            height: 48px;
            color: #3c3c3c;
        }


        .price-sum strong,
        .amount-sum em,
        .price-sum .txt,
        .amount-sum .txt {
            float: left;
        }

        .amount-sum em,
        .price-sum .price em {
            color: #5bc0de;
            font-weight: 700;
            font-size: 18px;
            font-family: tohoma, arial;
            font-style: normal;
        }

        .arrow-box {
            float: left;
        }

        .price-sum {
            float: left;
            height: 48px;
            color: #3c3c3c;
        }


        .price-sum .price em {
            font-weight: 700;
            font-size: 22px;
            padding: 0 3px;
        }

        .total-symbol {
            font-size: 12px;
            font-weight: 400;
        }

        .submit-btn {
            color: #fff;
            display: inline-block;
            width: 120px;
            height: 50px;
            background: #5bc0de;
            text-align: center;
            font-family: 'Lantinghei SC', 'Microsoft Yahei';
            font-size: 20px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            border-radius: 2px;
            text-decoration: none;
            cursor: pointer;
        }

        .submit-btn:hover, .submit-btn:active {
            color: #fff;
            display: inline-block;
            width: 120px;
            height: 50px;
            background: #5bc0dec7;
            text-align: center;
            font-family: 'Lantinghei SC', 'Microsoft Yahei';
            font-size: 20px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            border-radius: 2px;
            text-decoration: none;
            cursor: pointer;
        }

        .submit-btn a:hover,
        .submit-btn a:link {
            color: #fff;
            text-decoration: none;
        }

        a:hover,
        a:link {
            text-decoration: none;
        }

        .submit-btn-disabled:link,
        .submit-btn-disabled:hover {
            background: #B0B0B0;
            color: #fff;
            border-left: 1px solid #e7e7e7;
            width: 119px;
            cursor: not-allowed;
            text-decoration: none;
        }


        .wrapper {
            background-color: #fff;
        }

        .skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
            background-color: #fff !important;
        }

        .logo-text {
            position: absolute;
            top: 133px;
            margin-left: 188px;
            font-size: 36px;
            font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
        }

        /*不可用的确定按钮*/
        .disabled-button{
            border-color: #D4D4D4;
            background-color: #D4D4D4;
            color: #fff;
            cursor:auto;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
        input[type="number"]{
            -moz-appearance: textfield;
        }

        .box {
            border-top: unset;
        }


        .btn-cart {
            font-weight: 550;
            border: 1px solid #5bc0de;
        }

        .btn-cart:hover {
            font-weight: 550;
            border: 1px solid #5bc0de;
            background-color: #5bc0de;
        }

        .btn-cart:active:hover {
            font-weight: 550;
            border: 1px solid #5bc0de;
            background-color: #5bc0de;
        }
    </style>
{% endblock css %}

<!-- 导航栏-->
{% block navbar %}
    <div class="container">
        <div class="navbar-header">
            <a href="{% url 'app:index' %}" class="navbar-brand"><b>{{site_name}}</b></a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'app:index' %}">首页</a></li>
                {% for var1 in navigation %}
                    <li><a href="{{var1.url}}">{{var1.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    {% if user %}
                        <a href="{% url 'home:index' %}">
                            <span class="hidden-xs"> 我的订单 </span>
                        </a>
                    {% endif %}
                </li>

                {% if not user %}
                <li class="dropdown user user-menu">
                    <a href="{% url 'auth:oauth2:login_zycg' %}" class="dropdown-toggle">
                        <img src="http://mall.zycg.gov.cn/home/images/yc.png" class="user-image" alt="User Image">
                        <span class="hidden-xs">央采登录</span>
                    </a>
                </li>
                {% endif %}
                <li class="dropdown user user-menu">
                    {% if user %}
                        <a href="{% url 'auth:logout' %}" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{% static 'images/user/user2-160x160.jpg' %}" class="user-image" alt="User Image">
                            <span class="hidden-xs"> {{user.username}} </span>
                        </a>
                    {% else %}
                        <a href="{% url 'auth:login' %}" class="dropdown-toggle">
                            <span class="hidden-xs">请登陆</span>
                        </a>
                    {% endif %}
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img src={% static "images/user/user2-160x160.jpg" %} class="img-circle" alt="User Image">
                            <p>
                                <small>{{site_name}} 欢迎您 </small>
                            </p>
                        </li>
                        <!-- <li class="user-body">
                            <div class="row">
                                <div class="col-xs-4 text-center">
                                    <a href="#">Followers</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Sales</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Friends</a>
                                </div>
                            </div>
                        </li> -->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="{% url 'home:index' %}" class="btn btn-default btn-flat">我的订单</a>
                            </div>
                            <div class="pull-right">
                                <a href="{% url 'auth:logout' %}" class="btn btn-default btn-flat">退出登录</a>
                            </div>
                        </li>
                    </ul>
                </li>

                {% if not user %}
                <li class="dropdown user user-menu">
                    <a href="{% url 'auth:register' %}" class="dropdown-toggle">
                        <span class="hidden-xs">立即注册</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock navbar %}

{% block content_wrapper %}
    <!-- <div class="row">
        <div class="container box-body" style="margin-top: 20px;">
            <div class="col-md-6 pull-right" style="margin-top: 17px; width: 40%;">
                <form action="{% url 'app:search' %}" method="GET">
                    <div class="input-group">
                        <input name="search" type="text"  class="form-control">
                        <span class="input-group-btn">
                            <button type="" class="btn btn-info btn-flat">搜索</button>
                        </span>
                    </div>
                </form>
            </div>

            <div id="logos">
                <div class="logo_extend" clstag="h|keycount|head|logo_02" style="display: block;">
                    <a href="" style="display: block; width: auto; background: #fff;" target="_blank">
                        <img src="/static/Logosc_2000x1500.png" style="margin: auto; display: block; width: 140px;">
                    </a>
                </div>

            </div>
            <div class="logo-text pull-left">
                    购物车
                </div>

        </div>
    </div> -->

    <div class="container">
        {% if Cart %}
        <div style="height:64px;">
            <ul style="margin: 0; padding: 0;">
                <li class="item-li" style="width: 13%;">
                    <div class="cart-checkbox">
                        <input type="checkbox" name="" class="minimal checkbox-toggle">&nbsp;&nbsp;全选
                    </div>
                </li>
                <li class="item-li td-item" style="width: 47%;">
                    <div class="td-inner">商品信息</div>
                </li>
                <li class="item-li" style="width: 10%;">
                    <div class="td-inner text-center">单价</div>
                </li>
                <li class="item-li" style="width: 10%;">
                    <div class="td-inner text-center" style="width: 76px;">数量</div>
                </li>
                <li class="item-li" style="width: 10%;">
                    <div class="td-inner text-center">金额</div>
                </li>
                <li class="item-li" style="width: 10%;">
                    <div class="td-inner text-left">操作</div>
                </li>
            </ul>
        </div>
        {% endif %}

        <form action="{% url 'shop:PlaceOrderView' %}" method="GET" accept-charset="utf-8">
            {% for var1 in Cart %}
            <div id="box-{{var1.id}}" class="showlist">
                <ul>
                    <li class="item-li" style="width: 5%;">
                        <div class="cart-checkbox">

                            {% if var1.cart_ %}
                            <input type="checkbox" disabled uid="{{var1.id}}" value="{{var1.id}}" price="{{var1.price}}" class=" minimal">
                            {% else %}
                            <input type="checkbox" id="check-{{var1.id}}" name="cartlist" uid="{{var1.id}}" value="{{var1.id}}" price="{{var1.price}}" class="number minimal">
                            {% endif %}
                        </div>
                    </li>
                    <li class="item-li td-item" style="width: 35%;">
                        <div class="td-inner">
                            <div class="item-pic">
                                <a href="" target="_blank">
                                    <img style="width: 80px; height: 80px;" src="{{var1.image}}">
                                </a>
                            </div>
                            <div class="item-info">
                                <div class="item-basic-info">
                                    <a href="{% url 'app:details' var1.key.id %}" target="_blank" class="item-title">
                                    {{var1.name}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="item-li" style="width: 20%;">
                        <div class="item-props"> <!-- item-props-can-hover -->
                            <p class="sku">套餐类型： {{var1.meal}}</p>
                            <span class="btn-edit-sku">修改</span>
                        </div>
                    </li>
                    <li class="item-li" style="width: 10%;">
                        <div class="td-inner text-center">
                            ￥<span id="price-{{var1.id}}">{{var1.price}}</span>
                        </div>
                    </li>
                    <li class="item-li" style="width: 10%;">
                        <div class="td-inner text-center" style="width: 76px;">
                                <div class="item-amount">
                                    <a href="javascript:void(0)" class="no-left" value="{{var1.id}}">-</a>
                                    <input type="number" id="amount-{{var1.id}}" uid="{{var1.id}}" value="{{var1.numb}}" values="{{var1.numb}}" class="text text-amount" style="width: 40px; height: 23px;margin-left: 18px;">
                                    <a href="javascript:void(0)" class="no-right" value="{{var1.id}}">+</a>
                                </div>
                        </div>
                    </li>
                    <li class="item-li" style="width: 10%;">
                        <div class="td-inner text-center">

                            {% if user.usercode %}
                                <p class="td-sumdis"><del>原价  ￥<span id="money-{{var1.id}}">{{var1.money}}</span></del></p>
                                <p class="td-sum">售价 ￥<span class="totalset-{{var1.id}}" id="total-{{var1.id}}">{{var1.total}}</span></p>
                                <p class="td-sum">优惠 <span id="dis-{{var1.id}}" class="discon-{{var1.theress_id}} dis" value="{{var1.id}}">{{var1.discon}}%</span></p>
                            {% else %}
                                <p class="td-sum">￥<span id="money-{{var1.id}}">{{var1.money}}</span></p>
                            {% endif %}

                        </div>
                    </li>
                    <li class="item-li" style="width: 10%;">
                        <div class="td-inner text-left">
                            <a href="javascript: ;" value="{{var1.id}}" class="wareCratListDeleteOne">删除</a>
                        </div>
                    </li>
                </ul>
            </div>
            {% endfor %}

            {% if not Cart %}
            <div class=" box-body" style="height: 200px;">
                <div class="box-wareapp">
                    <div class="pull-left">
                        <div class="small-box bg-aqua">
                            <div class="icon">
                              <i class="ion ion-bag"></i>
                            </div>
                        </div>
                    </div>
                    <div class="pull-left" style="margin-left: 30px;">
                        <p style="line-height: 26px; font-size: 18px;">您的购物车没有东西，去其他地方看看吧！</p>
                        <p><a href="{% url 'app:index' %}" style="font-size: 14px; color: #005ea7;">去购物！</a></p>
                    </div>
                </div>
            </div>
            {% endif %}



            <div id="end" class="fixed-bottom" style="width: 100%;">
            </div>

            <div id="bs3c" style="position: fixed; bottom: 0;">
            </div>

            {% if Cart %}
            <div id="stop" class="fixed-bottom" style="position: fixed; width: 100%;">
                <div class="float-bar-wrapper">
                    <div class="select-all">
                        <input type="checkbox" name="" class="minimal checkbox-toggle">&nbsp;&nbsp;全选
                    </div>

                    <div class="operations select-all">
                        <a href="javascript:void(0)" class="oper-text wareCratListDelete">删除</a>
                    </div>

                    <div class="float-bar-right">
                        <div class="select-all amount-sum">
                            <span class="txt">已选商品</span>
                            <em class="text-number">0</em>
                            <span class="txt">件</span>
                        </div>

                        <div class="select-all" style="display: block;">
                            货到付款
                        </div>

                        <div class="select-all price-sum">
                            <span class="txt">合计（免运费）：</span>
                            <strong class="price">
                                <em><span class="total-symbol">&nbsp;￥</span><span id="tote">0.00</span></em>
                            </strong>
                        </div>

                        <input type="hidden" id="flo-money" name="" value="0">

                        <div class="select-all">
                            <!-- submit-btn-disabled -->
                            <button type="submit" disabled href="javascript:void(0)" class="price-button submit-btn-disabled btn btn-block btn-info btn-cart submit-btn">
                                <span>结&nbsp;算</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
                <div id="stop"></div>
            {% endif %}
        </form>
    </div>

{% endblock content_wrapper %}

{% block top_script %}
{% endblock top_script %}



{% block script %}
    {% include 'defaule/temp/script.ht' %}
    <script src="{% static 'iCheck/icheck.min.js' %}"></script>
    <script src="{% static 'js/csrf_token.js' %}"></script>

    <script>
    	var csrftoken = getCookie('csrftoken');
    	function removeByValue(arr, val) {
			for(var i=0; i<arr.length; i++) {
			  	console.log('arr '+ arr[i]);
			    if(arr[i] == val) {
			         arr.splice(i, 1);
			         break;
			    }
			}
		}

    	$(function () {
    		//勾选状态
    		var num = 1;
    		var list = new Array();
	    	$('.inp').on('ifChecked', function(event){
	            //ifCreated 事件应该在插件初始化之前绑定
	            $(".alertwindow").show(1000);
				$.ajax({
                    type: "get",
                    url: "{% url 'api:getWare' %}",
                    dataType: "json",
                    data:{
                    	'id': event.target.value
                    },
                    success: function (data) {
                       	var str=data.data;
                       	console.log(str);
                       	$('.addgoods').append(
		                    '<li class="addgoods-li" id="'+ str.id +'">'+
		                      '<div style="float: left;">'+
		                          	'<div style="float: left;margin-left: 4px;margin-top:10px;">'+
		                              '<img src="'+str.image+'" width="100px"height="80px" />'+
		                           	'</div>'+
		                            '<div style="float: left;margin-top: 20px;">'+
		                              '<p style="width: 129px; height: 33px;overflow: hidden;margin-bottom: 0px;">'+str.name+'</p>'+
		                              '<p style="margin-top:5px !important;color: red;">￥ '+str.money+'</p>'+
		                           '</div>'+
		                       '</div>'+
		                       '<input type="hidden" name="waid_' + str.id + '" id="waid_' + str.id + '" value="' + str.id + '" />' +
		                    '</li>'
		                );
		                num += 1;
		                if (num >=5) {
                            $('.inp').attr({
                                disabled: 'disabled'
                            });
                        }else{
                            $('.inp').removeAttr("disabled");
                        };
                        //获取li里的id
                        $(".contrastbtn").on("click",function(){
                          	var idd =[];
                          	$(".addgoods-li").each(function(i,item){
                          		idd.push($(item).attr("id"));
                          	});
					 		$(".biography").val(idd);
                        })
                    }
                });
	       	});
	       	//非勾选状态
	        $('.inp').on('ifUnchecked', function(event){
	     		var list = event.target.value;
	        	$("#" + list).remove();
	        	num = num - 1;
	        });
	       //清空所有对比栏li
	       	$(".clearall").on("click",function(){
	       		$(".addgoods-li").hide();
				$(".alertwindow").hide(1000);
	        	$(".addgoods-li").hide();
				window.location.reload();
	       	});

			//隐藏按钮
	        $('.hidewindow').on('click', function(event){
	        	$(".alertwindow").hide(1000);
	        	$(".addgoods-li").hide();
	        });

	        $('input').iCheck({
	          checkboxClass: 'icheckbox_square-blue',
	          radioClass: 'iradio_square-blue',
	          increaseArea: '20%' /* optional */
	        });

	        //改变边框
	         $(".after").mouseover(function(){
				$(this).parents(".boxborder").css({"border":"1px solid #2489c5"})
	        })

	         $(".after").mouseout(function(){
				$(this).parents(".boxborder").css({"border":"1px solid #d3cfc8"})
	        })
	         $(".iCheck-helper").mouseover(function(){
				$(this).parents(".boxborder").css({"border":"1px solid #2489c5"})
	        })

	         $(".iCheck-helper").mouseout(function(){
				$(this).parents(".boxborder").css({"border":"1px solid #d3cfc8"})
	        })
        });

        /* 取消全选 */
        $('.checkbox-toggle').on('ifUnchecked', function(event) {
            event.preventDefault();
            $("input[type='checkbox']").iCheck("uncheck");
            /* Act on the event */
        });
        /* 全选 */
        $('.checkbox-toggle').on('ifChecked', function(event) {
            event.preventDefault();
            $("input[type='checkbox']").iCheck("check");
            /* Act on the event */
        });

        /* 选择商品 */
        $('.number').on('ifChecked', function(event) {
            event.preventDefault();
            var uid = $(this).attr('uid');

            $('.text-number').text($(".number[type='checkbox']:checked").length);
            $(this).attr('price');

            if ($('#total-' + uid).text() != '') {

                var money = parseFloat($('#flo-money').val()) + parseFloat($('#total-' + uid).text()) + parseFloat($('#tote').text());
            } else{
                var money = parseFloat($('#flo-money').val()) + parseFloat($('#money-' + uid).text()) + parseFloat($('#tote').text());
            };

            console.log(money);

            $('#tote').text(money.toFixed(2));

            if (parseFloat($('#tote').text()) < 0) {
                console.log("money  < 0");
                $('#tote').text('0.00');
            };

            console.log("money  " + money);
            /* Act on the event */
        });

        /* 取消选择商品 */
        $('.number').on('ifUnchecked', function(event) {
            event.preventDefault();
            var uid = $(this).attr('uid');
            console.log($(".number[type='checkbox']:checked").length);


            $('.text-number').text($(".number[type='checkbox']:checked").length);

            var money = parseFloat($('#tote').text()) - (parseFloat($('#flo-money').val()) + parseFloat($('#money-' + uid).text()));

            if ($('#total-' + uid).text() != '') {
                console.log("money  ! null" );
                var money = parseFloat($('#tote').text()) - (parseFloat($('#flo-money').val()) + parseFloat($('#total-' + uid).text()));
            } else{
                var money = parseFloat($('#tote').text()) - (parseFloat($('#flo-money').val()) + parseFloat($('#money-' + uid).text()));
            };

            $('#tote').text(money.toFixed(2));

            console.log("money  " + money);

            if (parseFloat($('#tote').text()) < 0) {
                console.log("money  < 0");
                $('#tote').text('0.00');
            };
            /* Act on the event */
            /*  */
            if (parseInt($('.text-number').text()) < 1) {
                $('.price-button').addClass('submit-btn-disabled');
                $('.price-button').attr('disabled', 'disabled');
            };
        });

        $(function(){
            /* 商品数量减少 */
            $('.no-left').on('click', function(event) {
                event.preventDefault();
                var uid = $(this).attr('value');
                var idv = $('#amount-'+uid);

                console.log('this ' + $(this).attr('value'));
                if (idv.val() > 1) {
                    $.ajax({
                        url: '{% url "shop:CartToolp" %}',
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            'id': uid,
                            'type': '-'
                        },
                    })
                    .done(function(data) {
                        idv.attr('values', Number(idv.val())-1);
                        idv.val(Number(idv.val())-1);

                        $('#money-' + uid).text(parseFloat($('#price-' + uid).text() * idv.val()).toFixed(2));
                        /* 判断是否勾选本项商品 */
                        if ($("#check-" + uid + "[type='checkbox']:checked").length > 0) {
                            if (data.data.discon != '') {
                                var money = parseFloat($('#tote').text()) - (
                                    parseFloat($('#price-' + uid).text()) - (
                                        parseFloat(
                                            data.data.discon/100*parseFloat($('#price-' + uid).text())
                                        )
                                    )
                                );
                            } else{
                                var money = parseFloat($('#tote').text()) - parseFloat($('#price-' + uid).text());
                                console.log('aasddad');
                            };
                            $('#tote').text(money.toFixed(2));
                        };

                        /* 设置优惠率 */
                        $('.discon-' + data.data.theress_id).text(data.data.discon + '%');
                        $('#total-' + data.data.id).text(data.data.total);

                    })
                    .fail(function() {
                        console.log("error");
                    })
                    .always(function() {
                        console.log("complete");
                    });
                };
            });

            /* 商品数量增加 */
            $('.no-right').on('click', function(event) {
                event.preventDefault();
                var uid = $(this).attr('value');
                var idv = $('#amount-'+uid);
                console.log('this ' + $(this).attr('value'));

                $.ajax({
                        url: '{% url "shop:CartToolp" %}',
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            'id': uid,
                            'type': '+'
                        },
                    })
                    .done(function(data) {
                        idv.attr('values', Number(idv.val())+1);
                        idv.val(Number(idv.val())+1);
                        $('#money-' + uid).text(parseFloat($('#price-' + uid).text() * idv.val()).toFixed(2));

                        if ($("#check-" + uid + "[type='checkbox']:checked").length > 0) {
                            $("#check-" + uid + "[type='checkbox']").iCheck("uncheck");
                        };

                        /* 设置优惠率 */
                        $('.discon-' + data.data.theress_id).text(data.data.discon + '%');
                        $('#total-' + data.data.id).text(data.data.total);

                    })
                    .fail(function() {
                        console.log("error");
                    })
                    .always(function() {
                        console.log("complete");
                });
            });

            /* 输入框值的变化 */
            $(".text-amount").bind('input porpertychange',function(){
                var id = $(this).val();
                var uid = $(this).attr('uid');
                if ($(this).val() != '') {
                    $(this).val($(this).attr('values'));
                };
            });

            /* 央采用户优惠率变化时价格变动 */
            $(".dis").bind('DOMNodeInserted', function(e) {
                var ms = parseFloat($('#money-' + $(e.target).attr('value')).text()) - (
                    parseFloat(
                        $(e.target).text().split('%')[0]/100*parseFloat($('#money-' + $(e.target).attr('value')).text())
                    )
                );

                if ($("#check-" + $(e.target).attr('value') + "[type='checkbox']:checked").length > 0) {
                    $("#check-" + $(e.target).attr('value') + "[type='checkbox']").iCheck("uncheck");
                };

                $('.totalset-' + $(e.target).attr('value')).text(ms);
            });
        });

        $(".text-number").bind('DOMNodeInserted', function(e) {
            if (parseInt($('.text-number').text()) >= 1) {
                console.log("parseInt($(e.target).text())" + parseInt($('.text-number').text()));
                $('.price-button').removeClass('submit-btn-disabled');
                $('.price-button').removeAttr('disabled');
            };
        });

        /* 批量删除商品 */
        $('.wareCratListDelete').on('click', function(event) {
            event.preventDefault();
            /* Act on the event */
            var student = $(".number[name='cartlist']:checked").serialize();
            if (student != '') {
                $.ajax({
                    url: '{% url "shop:CartToolp" %}',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        'id': student,
                        'type': 'del'
                    },
                })
                .done(function(data) {
                    for (var i = 0; i < data.data.length; i++) {
                        $("#check-" + data.data[i] + "[type='checkbox']").iCheck("uncheck");
                        $("#box-" + data.data[i]).remove();
                    };
                    console.log("success");
                })
                .fail(function() {
                    console.log("error");
                })
                .always(function() {
                    console.log("complete");
                });

                console.log("student  " + student);
            };
        });

        /*单个删除商品*/
        $('.wareCratListDeleteOne').on('click', function(event) {
            event.preventDefault();
            /* Act on the event */
            var student = $(this).attr('value');
            console.log("student  " + student);
            if (student != '') {
                $.ajax({
                    url: '{% url "shop:CartToolp" %}',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        'id': student,
                        'type': 'del'
                    },
                })
                .done(function(data) {
                    for (var i = 0; i < data.data.length; i++) {
                        $("#check-" + data.data[i] + "[type='checkbox']").iCheck("uncheck");
                        $("#box-" + data.data[i]).remove();
                    };
                    console.log("success");
                })
                .fail(function() {
                    console.log("error");
                })
                .always(function() {
                    console.log("complete");
                });

                console.log("student  " + student);
            };
        });

        //根据参数名获得该参数  pname等于想要的参数名
        function getParam(pname) {

            var params = location.search.substr(1); //  获取参数 平且去掉？
            var ArrParam = params.split('&');
            if (ArrParam.length == 1) {
                //只有一个参数的情况
                return params.split('=')[1];
            } else {
                //多个参数参数的情况
                for (var i = 0; i < ArrParam.length; i++) {
                    if (ArrParam[i].split('=')[0] == pname) {
                        return ArrParam[i].split('=')[1];
                    }
                }
            }
        }
    </script>

    <script type="text/javascript">
            function scroll(mnu){
                var hx = document.getElementById('stop');
                // console.log("开始滚动！");
                var mao1 = $("#bs3c"); //获得锚点
                var pos1 = mao1.offset().top;
                var poshigh = mao1.height();

                var mao2 = $("#end"); //获得锚点
                var pos2 = mao2.offset().top;

                if ((Number(pos1)+Number(50)-Number(mnu)) > pos2) {
                    hx.style.cssText  = 'position: relative; width: 100%;';
                } else{
                    hx.style.cssText  = 'position: fixed; width: 100%; ';
                };
            }

            var scrollFunc = function (e) {
                e = e || window.event;
                if (e.wheelDelta) {  //第一步：先判断浏览器IE，谷歌滑轮事件
                    if (e.wheelDelta > 0) { //当滑轮向上滚动时
                        // console.log("滑轮向上滚动");
                        scroll(100);
                    }
                    if (e.wheelDelta < 0) { //当滑轮向下滚动时
                        // console.log("滑轮向下滚动");
                        scroll(0);
                    }
                } else if (e.detail) {  //Firefox滑轮事件
                    if (e.detail> 0) { //当滑轮向上滚动时
                        // console.log("滑轮向上滚动");
                        scroll(100);
                    }
                    if (e.detail< 0) { //当滑轮向下滚动时
                        // console.log("滑轮向下滚动");
                        scroll(0);
                    }
                }
            }
            //给页面绑定滑轮滚动事件
            if (document.addEventListener) {//firefox
                document.addEventListener('DOMMouseScroll', scrollFunc, false);
            }
            //滚动滑轮触发scrollFunc方法  //ie 谷歌
            window.onmousewheel = document.onmousewheel = scrollFunc;
    </script>
{% endblock script %}

