<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8" />
    <!--360浏览器极速模式-->
    <meta name="renderer" content="webkit" />
    <meta name="force-rendering" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />


    <meta name="description" content="{{site_name}} - {{site_tags}}" />
    <meta name="keywords" content="{{site_name}} - {{site_tags}}，多功能一体机，碎纸机，投影仪，办公文具，办公耗材，办公设备，办公文具，数码设备，网络产品，电脑及配件，外设产品，办公电器，劳保用品，配件服务，员工福利，维修服务，企业团购，礼品定制，设备租赁，以旧换新" />

    <link rel="stylesheet" href='/static/css/bootstrap4.min.css'>
    <link rel="stylesheet" href='/static/css/font-awesome.min.css'>
    <link rel="stylesheet" href="/static/css/ionicons.min.css">
</head>
<body>


<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/adminlte.min.js"></script>
<script src="/static/js/toastr.min.js"></script>
</body>
</html>